    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About MIDL</h2>
              <br/>
                <p>A Managed Infrustructure for Distributed Ledgers.</p>
                <p>We help you stake your cryptocurrency. You are in full control.</p>
                <p>We provide you with a signing device. Keep it online - we take care of the rest.</p>
                <br/>
              </div>
        </div>
    </section>
