<section id="contact">
	<div class="banner">
		<div class="container">

			<div class="row">
				<div class="col-lg-6">
                                    <h2>Get exciting updates !</h2>
                                    <h3>Your first month is free when you register to our newsletter - Limited time offer</h3>
				</div>
				<div class="col-lg-6">
                                    <form>

                                        <div class="input-group mb-3">
                                          <input name="email" placeholder="Enter your email address" class="form-control" type="text"></input>
                                          <span class="input-group-btn">
                                            <button class="btn btn-deep-orange" type="button">Subscribe</button>
                                          </span>
                                         </div>
                                    </form>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->
