
<section id="contact">
	<div class="banner">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h3 class="href-orange-bg">Drop us an email <a class="grey-link" href="mailto:{{site.email}}"><i class="fa fa-envelope-o"></i></a></h3>
					<h3 class="href-orange-bg"><a class="grey-link" href="/team">Read more about the team</a></h3>
					</div>
				<div class="col-lg-6">
									<h3>Subscribe to our mailing list:</h3>
                                    <form action="/thankyouforregistering/" method="get">
                                        <div class="input-group mb-3">
                                          <input name="email" required placeholder="Enter your email address" class="form-control" type="email"></input>
                                          <span class="input-group-btn">
                                            <input class="btn btn-lg btn-elegant" type="submit">Subscribe</button>
                                          </span>
                                         </div>
									</form>
						<br/><br/><br/>
				</div>
			</div>
		</div>
		<!-- /.container -->
	</div>
</section>
<!-- /.banner -->
