<section id="contact">
	<div class="banner">
		<div class="container">

                            <h2 class="infra-section-heading">We operate full nodes for you.</h2>
                            <h3>Our infrastructure is geographically distributed. We monitor it 24/7. We are paranoid about security.</h3>
                            <h3>We pay attention to the network evolution so you do not have to.</h3>
                            <h3><a href="/team">Read more about the team</a></h3>


		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->
