<section id="supportedcryptocurrencies">
  <div class="crypto-box">
      <hr class="section-heading-spacer">
        <h2 class="crypto-title">Maximize your proof-of-stake earnings</h2>
          <ul class="flex-container">
            {% assign ordered_cryptos = site.cryptocurrencies | sort:"order_number" %}
            {% for post in ordered_cryptos offset:0 limit:4 %}
              <li class="flex-item">
                  <div class="crypto-item-title">{{ post.crypto_name }}
                    {% if post.status=="Available now" %}
                    <p class="crypto-item-status-ready">{{ post.status }}
                    </p>
                    {% else %}
                    <p class="crypto-item-status">{{ post.status }}
                    </p>
                    {% endif %}
                  </div>
                    <!--<img src="img/cryptologo/{{ post.img }}" alt="{{ post.title }}" width="{{ post.logosize }}">-->
                    <a href="{{site.url}}/{{post.short_title}}">
                      <div class="view overlay zoom cryptologo">
                        <img src="img/cryptologo/{{ post.img }}" alt="{{ post.title }}" width="{{ post.logosize }}" class="img-fluid ">
                        <div class="mask flex-center">
                        </div>
                      </div>
                    </a>
              </li>
            {% endfor %}
          </ul>
  </div>
</section>


        <!--<a href="{{ root_url }}{{ post.url | prepend: site.baseurl }}" style="background: url({{"/img/cryptologo/" | prepend: site.baseurl | append : post.img}})"></a>

<section id="supportedcryptocurrencies"></section>
  <div class="crypto-box">
    <div class="row">
      <hr class="section-heading-spacer">
  <h2 class="crypto-title">Supported Cryptocurrency Solutions</h2>
  {% for post in site.cryptocurrencies offset:0 limit:4 %}
  <div class="crypto-list justify-content-center crypto-row">
    <div class="crypto-list-item crypto-col-sm-6 crypto-col-md-4 crypto-col-lg-3"> 
        <div class="crypto-item">
        <div class="crypto-item-title">{{ post.title }}</div>
        <div class="crypto-item-header">
          <div class="crypto-item-image">
            <img src="img/cryptologo/{{ post.img }}" alt="{{ post.title }}" width="{{ post.logosize }}">
          </div>
        </div>
        </div>
    </div>
  </div>
  {% endfor %}
    </div>
        </div>
</section>
-->
