<!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>

<!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
<form method="get">
  <div class="input-group mb-2">
      <input name="stash" required placeholder="Enter your stash account" class="form-control" type="email">
      <button
      style="background-color:#fd9300;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
      id="checkout-button-price_1IPzW2A1ymcgaoVIvwemhPLW"
      role="link"
      type="button">
      Pay & Subscribe
    </button>
  </div>
</form>

<div id="error-message"></div>

<script>
(function() {
  var stripe = Stripe('pk_test_51H1fFNA1ymcgaoVI3Dfngdo71dEBB3fUeHSOZ8P1ntynGmLi21MYb14mzveC7zETcTgvtahGtsXOCA4O2meF7wfH00V0VK9Lq1');

  var checkoutButton = document.getElementById('checkout-button-price_1IPzW2A1ymcgaoVIvwemhPLW');
  checkoutButton.addEventListener('click', function () {
    /*
     * When the customer clicks on the button, redirect
     * them to Checkout.
     */
    stripe.redirectToCheckout({
      lineItems: [{price: 'price_1IPzW2A1ymcgaoVIvwemhPLW', quantity: 1}],
      mode: 'subscription',
      /*
       * Do not rely on the redirect to the successUrl for fulfilling
       * purchases, customers may not always reach the success_url after
       * a successful payment.
       * Instead use one of the strategies described in
       * https://stripe.com/docs/payments/checkout/fulfill-orders
       */
      successUrl: 'https://midl.dev/success',
      cancelUrl: 'https://midl.dev/canceled',
    })
    .then(function (result) {
      if (result.error) {
        /*
         * If `redirectToCheckout` fails due to a browser or network
         * error, display the localized error message to your customer.
         */
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
})();
</script>