<!DOCTYPE html>
<html>
    {% include head.html %}
    
    <div class="header-page">
        <h1 class="page-title">{{page.title}}</h1>
        <div class="page-date"><time datetime="{{page.date}}">{{page.date | date: '%Y, %b %d'}}</time></div>
      </div>

	<body>
        {% include header.html %}
<section id="blog">
    <div class="content-section-a">

        <div class="container">

            <div class="row">

                <div class="col-lg-8 col-lg-offset-2">

                    <hr class="section-heading-spacer">
                    <h2 class="section-heading">{{ title }}</h2>
                    <div class="lead">{{ content }}</div>

            </div>
        </div>
    </div>
</section>
        {% include contact-us.html %}
		{% include footer.html %}
		{% include js.html %}
        {% include cookie-consent.html %}
        {% include hubspot.html %}
	</body>
</html>
